// .form-inputs {
//   // margin: 50px;
//   padding: 50px
// }


.squareradiuswhite {
  background-color: #F2F1FA;
  padding: 90px;
  margin-left: 600px;
  margin-top: 300px;
  width: 600px;
  height: 700px;
  border-radius: 30px;
}

.form-label {
    color: black;
}


// .black {

//   }
