.loginpage {
  display: block;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 150px auto 50px auto;
  padding: 40px 25px;
  width: 500px;
  height: 640px;
  height: max-content;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);

  h2{
    color: #0F0920;
  }

  .form-check-label{
    color: #0F0920;
  }
}
