<h1 style="margin: 50px 0 50px 100px">Booking</h1>
<div class="container-fluid">
    <div class="row" style="background-color: #0F0920; border-radius: 32px; overflow: hidden; margin: 50px">
      <div class="col-3">
        <div style="margin: 50px; border-radius: 32px; overflow: hidden; height: 200px; width: 200px">
          <img src="https://cdn.pixabay.com/photo/2023/09/30/09/12/dachshund-8285220_1280.jpg" style="width: 100%">
        </div>
      </div>
      <div class="col-6">
        <div class="row" style="margin-top: 60px">
        <h1>Planet Name</h1>
        </div>
        <div class="row" style="margin-top: 10px">
          <p style="font-style: Inter; font-size: 12px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, illum distinctio explicabo, eaque repudiandae corporis recusandae libero et assumenda, consectetur nihil facere praesentium. Perferendis earum corrupti quia ipsam ducimus architecto.</p>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-1">
            <i class="bi bi-calendar-week"></i>
          </div>
          <div class="col-4">From: MM/DD/YYYY</div>
          <div class="col-7">To: MM/DD/YYYY</div>
        </div>
      </div>
      <div class="col-3 text-end">
        <div style="font-size: 40px; margin: 10px 10px"><i class="fa-solid fa-tag"></i></div>
      </div>
    </div>
</div>
