<div class="payment-form">
<h2>Book Planets</h2>
  <%= simple_form_for [@planet, @booking] do |f| %>
    <%= f.input :start_date, as: :string, value: params[:fromDate] %>
    <%= f.input :end_date, value: params[:toDate] %>
    <%= f.submit %>
  <% end %>
</div>
