<nav class="nav nav__glass">
  <div class="nav__logo-container">
    <%= link_to root_path, class: "nav__logo" do %>
      <%= image_tag "logo-nobg.png" %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%= render 'shared/navbar/connected_navbar' %>
  <% else %>
    <%= render 'shared/navbar/disconnected_navbar' %>
  <% end %>
</nav>