.container_banner {
  display: flex;
  background-color: #0F0920;
  width: auto;
  height: 600px;
}

.card_title {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 48px;
  padding-top: 155px;
  color: #F2F0FF;
}

.card_subtitle {
  padding-top: 25px;
  font-size: small;
  color: #F2F0FF;
}
.image_container{
position: absolute;
width: 450px;
height: 450px;
// left: 200px;
top: 80px;
background: url(image.png), #9B9B9B;
border-radius: 30px;
}

.description_container {
  display: flex;
  color: #F2F0FF;
  padding-right: 25px;
}
