.banner{
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-position: right;
  background-size: cover;
  background-image: url('bg-home.png');
  color: #DADADA;
  display: flex;
  align-items: center;

  .text-container {
    margin-left: auto;
    width: 570px;
    padding: 100px;
  }

  .text-container > h1 {
    font-size: 40px;
  }
}
