.button {
  width: 90%;
  color: white;
  padding: 15px 100px;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 #0f09204b;
  transition: 150ms all ease;
  text-align: center;

  &--blue {
    background: linear-gradient(#0368ffa4, rgba(18, 113, 255, 0.6));

    &:hover {
      box-shadow: 0 0 20px 0 #0368FF;
      background: linear-gradient(#0368ffab, #4992ff9c);
    }
  }

  &__banner {
    margin-top: 15px;
    width: 170px;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    color: azure;
  }
}

.button-revert-blue {
  color: #0368FF;
  border: 2px solid #0368FF;
}

.button-revert-blue:hover {
  box-shadow: 0 0 10px 0 #0368FF;
}

.button-search {
  height: 100%;
  width: 30%;
  background-color: #0F0920;
  border: none;
  margin: 0;
  border-radius: 50px 0 0 50px;
}

.button-login:hover {
  color: #221c3e;
  border: 2px solid #221c3e;
}

.card-button {
  margin-bottom: 25px;
}