.info-container {
  background-color: #221c3e;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-item-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3,
  h2,
  p,
  i {
    color: white;
  }

  .icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 75px;
    gap: 100px;
    margin: 25px 0 35px 0px;
  }
}

.caroussel {
  height: 300px;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0F0920;

  .section-img {
    width: 250px;
    border-radius: 32px;
    padding-right: 5px;
  }

  i {
    font-size: 30px;
  }
}
