<div class="nav__link-container">
  <%= link_to "Home", root_path, class: "nav__link" %>
  <%= link_to "Gallery", planets_path, class: "nav__link" %>
  <%= link_to "Why Us?", root_path+"#footer", class: "nav__link" %>
</div>

<div class="nav__profile-container">
  <%= link_to "Login", new_user_session_path, class: "nav__link" %>
</div>